In [1]:
# importing utility functions
import pandas as pd
import numpy as np
import os
import sys


%load_ext autoreload
%autoreload 2

module_path = os.path.abspath(os.path.join( 'src'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from nb_modules import cleaning_mod as cl

In [64]:
# # setting options to display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
# Reading csv files to dataframes
building_use_df= pd.read_csv('data/extracted/eq_data/csv_building_ownership_and_use.csv')
building_structure_df=  pd.read_csv('data/extracted/eq_data/csv_building_structure.csv')

## Building Ownership and Use data

In [4]:
# # Uncomment to preview data
# building_use_df.head()

In [5]:
# # Uncomment to preview data columns
# building_use_df.columns

In [45]:
# # Uncomment to see df info
# building_use_df.info()

The dataframe has 762106 obs with 17 features. There are few features with missing values. All the features are of numeric dtype except for `lega_ownership_status`. Need to look into this feature and possibly convert to numeric dtype

In [7]:
round(building_use_df['legal_ownership_status'].value_counts(normalize=True)*100,2)

Private          95.97
Public            2.52
Institutional     1.03
Other             0.48
Name: legal_ownership_status, dtype: float64

About 96% of the building structures in the data are of private ownership with 2.5% of public ownership and 1% belonging to institutions. On converting to numeric datatype, we will assign the labels in order as a range from 1 to 4.

In [8]:
cl.convert_to_num(building_use_df, 'legal_ownership_status', 'legal_ownership_status_num')

1    731387
2     19232
3      7823
4      3664
Name: legal_ownership_status_num, dtype: int64

In [9]:
# # Uncomment to to check for null values in columns
# building_use_df.isna().sum()

There are two features with missing values. `count_families` missing 2 values and `has_secondary_use` missing 10. The column `count_families` is a record of the number of families in a building. The column `has_secondary_use` is a flag variable that indicates if the building is used for any secondary purpose, according to the table information on the data source [site](https://eq2015.npc.gov.np/#/download)

In [10]:
# # Uncomment to check the rows of the column with NaN values
# building_use_df[building_use_df['count_families'].isna()]

In [11]:
building_use_df['count_families'].value_counts()

1.0     643418
0.0      71576
2.0      39753
3.0       5685
4.0       1215
5.0        302
6.0        104
7.0         27
8.0         15
9.0          8
11.0         1
Name: count_families, dtype: int64

The `Nan` values here could mean that no families live there like the 0 values that already exist in the data. Filling `Nan` here with 0 makes sense.

In [12]:
# # Uncomment to check the rows of the column with NaN values 
# building_use_df[building_use_df['has_secondary_use'].isna()]

In [13]:
building_use_df['has_secondary_use'].value_counts()

0.0    669732
1.0     92364
Name: has_secondary_use, dtype: int64

The `Nan` values here could mean that no the building has no secondary use. All the other secondary use fields have a 0 values corresponding to the Nan values of interest here. Filling `Nan` here with 0 makes sense, like the existing 0 values in the `has_secondary_use` column.

In [14]:
building_use_df['count_families'].fillna(value=0, inplace=True)
building_use_df['has_secondary_use'].fillna(value=0, inplace=True)

In [15]:
# # Uncomment to check for null values
# building_use_df.isnull().any()

All missing values and data type issues in the `building_use_df` have been taken care of.

In [16]:
# # Uncomment to check for descriptive statistics
# building_use_df.describe()

## Building Structure data

In [17]:
# # Uncomment to preview Building Structure data
# building_structure_df.head()

In [18]:
# # Uncomment and run to see column labels in data
# building_structure_df.columns

In [19]:
# # Uncomment and run to check for null
# building_structure_df.isna().sum()

There are 4 features in the dataset with missing values. `position` feature is missing 1 value, `plan_configuration` feature is also missing 1 value, `damage_grade` is missing 12 values and `technical_solution_proposed` is also missing 12 values.

In [46]:
# # Uncomment and run to check data info
building_structure_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762106 entries, 0 to 762105
Data columns (total 37 columns):
building_id                               762106 non-null int64
district_id                               762106 non-null int64
vdcmun_id                                 762106 non-null int64
ward_id                                   762106 non-null int64
count_floors_pre_eq                       762106 non-null int64
count_floors_post_eq                      762106 non-null int64
age_building                              762106 non-null int64
plinth_area_sq_ft                         762106 non-null int64
height_ft_pre_eq                          762106 non-null int64
height_ft_post_eq                         762106 non-null int64
land_surface_condition                    762106 non-null object
foundation_type                           762106 non-null object
roof_type                                 762106 non-null object
ground_floor_type                         762106 non-null object
other_floor_type                          762106 non-null object
position                                  762105 non-null object
plan_configuration                        762106 non-null object
has_superstructure_adobe_mud              762106 non-null int64
has_superstructure_mud_mortar_stone       762106 non-null int64
has_superstructure_stone_flag             762106 non-null int64
has_superstructure_cement_mortar_stone    762106 non-null int64
has_superstructure_mud_mortar_brick       762106 non-null int64
has_superstructure_cement_mortar_brick    762106 non-null int64
has_superstructure_timber                 762106 non-null int64
has_superstructure_bamboo                 762106 non-null int64
has_superstructure_rc_non_engineered      762106 non-null int64
has_superstructure_rc_engineered          762106 non-null int64
has_superstructure_other                  762106 non-null int64
condition_post_eq                         762106 non-null object
damage_grade                              762094 non-null object
technical_solution_proposed               762094 non-null object
land_surface_condition_num                762106 non-null int64
foundation_type_num                       762106 non-null int64
roof_type_num                             762106 non-null int64
ground_floor_type_num                     762106 non-null int64
other_floor_type_num                      762106 non-null int64
condition_post_eq_num                     762106 non-null int64
dtypes: int64(27), object(10)
memory usage: 215.1+ MB

The building structure dataframe has 762106 observations and 31 features. There are 10 features as pandas object data type while the rest are of numeric dtype. The next steps will be to look at the object type features and explore if they should and can be converted to numeric dtype.

In [21]:
round(building_structure_df['land_surface_condition'].value_counts(normalize=True)*100,2)

Flat              82.89
Moderate slope    13.86
Steep slope        3.25
Name: land_surface_condition, dtype: float64

About 83% of the buildings in the dataset are on a flat land surface, while 14% of buildings sit on a moderate sloping land surface and about 3% buildings are on a steep sloping land surface. To convert to numeric datatype, we will assign the labels in order as a range from 1 to 3.

In [22]:
cl.convert_to_num(building_structure_df,'land_surface_condition', 'land_surface_condition_num')

1    631675
2    105640
3     24791
Name: land_surface_condition_num, dtype: int64

In [23]:
building_structure_df['foundation_type'].value_counts()

Mud mortar-Stone/Brick    628716
Bamboo/Timber              57473
Cement-Stone/Brick         39245
RC                         32120
Other                       4552
Name: foundation_type, dtype: int64

In [24]:
cl.convert_to_num(building_structure_df,'foundation_type', 'foundation_type_num')

1    628716
2     57473
3     39245
4     32120
5      4552
Name: foundation_type_num, dtype: int64

In [25]:
round(building_structure_df['roof_type'].value_counts(normalize=True)*100,2)

Bamboo/Timber-Light roof    66.10
Bamboo/Timber-Heavy roof    28.05
RCC/RB/RBC                   5.85
Name: roof_type, dtype: float64

About 66% of the buildings in the dataset have a bamboo or light timber roofing, while 28% have a bamboo or heavy timber roofing and only about 6% have a modern structural designed roof type with RCC (Reinforced Cement Concrete or RBC (Reinforced Brick Concrete) or RB (Reinforced Brick).

In [26]:
cl.convert_to_num(building_structure_df,'roof_type', 'roof_type_num')

1    503748
2    213774
3     44584
Name: roof_type_num, dtype: int64

In [27]:
building_structure_df['ground_floor_type'].value_counts()

Mud            618217
RC              73149
Brick/Stone     66093
Timber           3594
Other            1053
Name: ground_floor_type, dtype: int64

In [28]:
cl.convert_to_num(building_structure_df,'ground_floor_type', 'ground_floor_type_num')

1    618217
2     73149
3     66093
4      3594
5      1053
Name: ground_floor_type_num, dtype: int64

In [29]:
building_structure_df['other_floor_type'].value_counts()

TImber/Bamboo-Mud    486907
Timber-Planck        123635
Not applicable       118822
RCC/RB/RBC            32742
Name: other_floor_type, dtype: int64

In [30]:
cl.convert_to_num(building_structure_df,'other_floor_type', 'other_floor_type_num')

1    486907
2    123635
3    118822
4     32742
Name: other_floor_type_num, dtype: int64

In [31]:
building_structure_df['condition_post_eq'].value_counts()

Damaged-Not used                           207968
Damaged-Rubble unclear                     125650
Damaged-Used in risk                       123849
Damaged-Repaired and used                  107797
Damaged-Rubble clear                       102191
Not damaged                                 61139
Damaged-Rubble Clear-New building built     33130
Covered by landslide                          382
Name: condition_post_eq, dtype: int64

In [32]:
cl.convert_to_num(building_structure_df, 'condition_post_eq', 'condition_post_eq_num')

1    207968
2    125650
3    123849
4    107797
5    102191
6     61139
7     33130
8       382
Name: condition_post_eq_num, dtype: int64

In [33]:
building_structure_df[building_structure_df['position'].isna()]

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,...,has_superstructure_other,condition_post_eq,damage_grade,technical_solution_proposed,land_surface_condition_num,foundation_type_num,roof_type_num,ground_floor_type_num,other_floor_type_num,condition_post_eq_num
131652,212402000341,21,2107,210703,2,2,84,324,13,13,...,0,Damaged-Repaired and used,NaN,NaN,1,1,1,1,2,4

In [34]:
building_structure_df['position'].value_counts()

Not attached       604453
Attached-1 side    129432
Attached-2 side     26910
Attached-3 side      1310
Name: position, dtype: int64

`position` gives the position of the building and `plan_configuration` gives the building plan configuration. For the null values in these columns, will look for rows with similar rows with similar values.

In [35]:
building_structure_df['plan_configuration'].value_counts()

Rectangular                        731257
Square                              17576
L-shape                             10079
T-shape                               969
Multi-projected                       940
Others                                518
U-shape                               448
E-shape                               140
Building with Central Courtyard        98
H-shape                                80
Name: plan_configuration, dtype: int64

In [36]:
# # Uncomment to preview data with condition
# building_structure_df[building_structure_df['position']=='Not attached'].head(2)

In [37]:
# # Uncomment to preview data with condition
# building_structure_df[building_structure_df['position']=='Attached-1 side'].head()

In [38]:
# # Uncomment to preview data with condition
# building_structure_df[building_structure_df['position']=='Attached-2 side'].head()

In [39]:
# # Uncomment to preview data with condition
# building_structure_df[building_structure_df['position']=='Attached-3 side'].head()

In [40]:
# # Uncomment to preview data with condition
# building_structure_df[building_structure_df['age_building'] >= 80].tail(10)

Based on similar buildings of around the same age, we can safely assign `position` Nan value as *Not attached* and `plan_configuration` Nan value as *Rectangular*.

In [48]:
# Assigning value to null and saving
building_structure_df['position'].fillna('Not attached', inplace=True)
building_structure_df['plan_configuration'].fillna('Rectangular', inplace= True)

In [52]:
building_structure_df['damage_grade'].value_counts()

Grade 5    275766
Grade 4    183844
Grade 3    136412
Grade 2     87257
Grade 1     78815
Name: damage_grade, dtype: int64

To get a better understanding of the scale direction, need to preview row information for each grade

In [57]:
building_structure_df[building_structure_df['damage_grade']== 'Grade 5']['condition_post_eq'].value_counts()

Damaged-Rubble unclear                     125650
Damaged-Rubble clear                       102191
Damaged-Rubble Clear-New building built     33130
Damaged-Not used                             9947
Damaged-Repaired and used                    2468
Damaged-Used in risk                         1998
Covered by landslide                          382
Name: condition_post_eq, dtype: int64

In [58]:
building_structure_df[building_structure_df['damage_grade']== 'Grade 4']['condition_post_eq'].value_counts()

Damaged-Not used             122032
Damaged-Used in risk          38899
Damaged-Repaired and used     22913
Name: condition_post_eq, dtype: int64

In [59]:
building_structure_df[building_structure_df['damage_grade']== 'Grade 3']['condition_post_eq'].value_counts()

Damaged-Not used             58318
Damaged-Used in risk         46227
Damaged-Repaired and used    31867
Name: condition_post_eq, dtype: int64

In [60]:
building_structure_df[building_structure_df['damage_grade']== 'Grade 2']['condition_post_eq'].value_counts()

Damaged-Used in risk         36719
Damaged-Repaired and used    32778
Damaged-Not used             17671
Not damaged                     89
Name: condition_post_eq, dtype: int64

In [61]:
building_structure_df[building_structure_df['damage_grade']== 'Grade 1']['condition_post_eq'].value_counts()

Not damaged                  61050
Damaged-Repaired and used    17765
Name: condition_post_eq, dtype: int64

Based on the conditional data analysis above, the grade increase with the severity of the damage.

In [54]:
building_structure_df['condition_post_eq'].value_counts()

Damaged-Not used                           207968
Damaged-Rubble unclear                     125650
Damaged-Used in risk                       123849
Damaged-Repaired and used                  107797
Damaged-Rubble clear                       102191
Not damaged                                 61139
Damaged-Rubble Clear-New building built     33130
Covered by landslide                          382
Name: condition_post_eq, dtype: int64

In [65]:
building_structure_df[building_structure_df['damage_grade'].isna()]

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,condition_post_eq,damage_grade,technical_solution_proposed,land_surface_condition_num,foundation_type_num,roof_type_num,ground_floor_type_num,other_floor_type_num,condition_post_eq_num
83766,203202000521,20,2009,200910,1,0,999,155,10,0,Flat,Bamboo/Timber,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,0,0,0,0,0,0,0,0,0,Damaged-Repaired and used,NaN,NaN,1,2,1,1,2,4
131558,212402000211,21,2107,210703,2,2,22,456,14,14,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Used in risk,NaN,NaN,1,1,1,1,2,3
131579,212402000221,21,2107,210703,2,2,22,439,14,14,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Used in risk,NaN,NaN,1,1,1,1,2,3
131627,212402000071,21,2107,210703,2,2,4,456,13,13,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Used in risk,NaN,NaN,1,1,1,1,2,3
131629,212402000091,21,2107,210703,2,2,55,182,11,11,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Used in risk,NaN,NaN,1,1,1,1,2,3
131640,212402000201,21,2107,210703,2,2,3,528,15,15,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Used in risk,NaN,NaN,1,1,1,1,2,3
131652,212402000341,21,2107,210703,2,2,84,324,13,13,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Repaired and used,NaN,NaN,1,1,1,1,2,4
131654,212402000361,21,2107,210703,2,2,7,450,15,15,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Repaired and used,NaN,NaN,1,1,1,1,2,4
131655,212402000371,21,2107,210703,2,2,22,324,14,14,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Attached-1 side,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Repaired and used,NaN,NaN,1,1,1,1,2,4
131656,212402000381,21,2107,210703,2,2,11,360,14,14,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Repaired and used,NaN,NaN,1,1,1,1,2,4
131929,212404000861,21,2107,210703,2,2,55,182,11,11,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Used in risk,NaN,NaN,1,1,1,1,2,3
131932,212404000881,21,2107,210703,1,1,55,192,9,9,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Repaired and used,NaN,NaN,1,1,1,1,3,4